{% extends "projbase.html.twig" %}

{% block title %}About{% endblock %}

{% block body %}
    <h1>Om projektet</h1>
    <p class="author">Skriven 2023-04-05 av Julia Nilsson</p>
   <p>Mål 5 beskrivs på den officiella hemsidan enligt följande “Jämställdhet mellan kvinnor och män är en förutsättning för en hållbar och fredlig utveckling. Jämställdhet handlar om en rättvis fördelning av makt, inflytande och resurser. Alla former av våld, diskriminering och skadliga sedvänjor mot kvinnor och flickor drabbar såväl individen som hela samhället. Det har bevisats om och om igen att politisk, ekonomisk och social jämlikhet mellan kvinnor och män bidrar till alla dimensioner av hållbar utveckling.
    Att leva ett liv fritt från våld och diskriminering är en grundläggande mänsklig rättighet och helt avgörande för att människor och samhällen ska utveckla sin fulla potential.”</p>
    <p>Projektet som jag har skapat handlar som sagt om ettt av det 17 globala målen, mål 5. Jag valde detta som mitt slutprojekt då det är ett ämne jag själv är intresserad av och tycker är väldigt vitkigt att man uppmärksammar.
    Att titta på massa statestik kring ämnet var väldigt spännande och roligt och jag kände direkt vilka fokus områden jag ville ha på sidan. Det blev ekonomi, utbildning och hemarbete. Jag valde dessa områden då jag anser att de är väldigt relevanta för alla människor på olika sätt och att siffror vissade väldigt intressanta saker som jag ville lyfta. Bland annat hur kvinnor allti fått betydligt lägre betalt än män samtidigt som de nästan alltid preseterat bättre i skolan och studerat på högre nivåer. Dessutom gör kvinnor mer obetalt arbete i hemmet och tar fortfarande större delar av föräldraledigheten. Det finns många intressanta aspekter att titta på inom detta ämnne och många intressanta slutsatser att dra. Förhoppningsvis har jag lyckats belysa några av dessa här på min rapport sida.</p>
    <a class="about-link" href="{{ path('aboutdatabase') }}">Läs mer om hur jag har jobbat med min databas här</a>
{% endblock %}