* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

body {
    background-color: rgb(253, 253, 246);
}

main {
    margin: 0 auto;
    max-width: 1200px;
    min-height: 500px;
    padding-top: 30px;
    padding-left: 40px;
    padding-right: 40px;
}

.site-header {
    background-size: cover;
    height: 400px;
}

.site-title {
    font-size: 5em;
    color: rgb(253, 253, 246);
    padding-left: 40px;
}

h1 {
    font-size: 3em;
}

h3 {
    padding-bottom: 10px;
}

p {
    margin-top: 10px;
    margin-bottom: 40px;
}

nav {
    background-color: rgb(132, 132, 186);
}

ul {
    display: flex;
    justify-content: space-between;
    list-style-type: none;
    max-width: 700px;
    height: 50px;
    align-items: center;
    font-size: 20px;
    padding-left: 40px;
}

a {
    color: white;
    text-decoration: none;
}

a:hover {
    color: black;
}

.author {
    font-style: italic;
    color: gray;
    margin-top: 0.2em;
    margin-bottom: 1em;
}

.two-columns {
    display: flex;
    justify-content: space-between;
}

.site-img img {
    max-width: 400px;
    margin-left: 40px;
    border-radius: 50%;
}

.about-mvc {
    max-width: 500px;
}

.about-mvc-list {
    display: inline;
    list-style-type: circle;
    font-size: 0.8em;
}

.about-mvc-list li {
    margin: 10px;
}

.links a {
    color: black;
}

.links a:hover {
    color: rgb(132, 132, 186);
}

.links img {
    width: 200px;
}

.dice img {
    width: 200px;
}

.kmom-links {
    border-bottom: 1px solid #8484ba;
    margin-bottom: 40px;
    margin-top: 40px;
    display: flex;
    justify-content: space-between;
}

.kmom-links a {
    color: #000;
    padding-bottom: 10px;
}

.kmom-links a:hover {
    color: rgb(132, 132, 186);
}

.game-text {
    width: 65vw;
    padding-right: 20px;
}

.all-games-nav {
    margin-bottom: 20px;
    margin-top: 70px;
}

button, input[type=submit] {
    padding: 10px;
    background-color: #8484ba;
    border-radius: 5%;
    color: white;
    margin-bottom: 15px;
}

input[type=number] {
    width: 5em;
    padding: 10px;
}

.all-games-nav a {
    color: white;
}

.games-nav {
    margin-top: 1em;
}

.games-nav ul {
    list-style-type: none;
    display: block;
    max-width: 800px;
}

.api {
    display: flex;
}

.book_select {
    padding: 10px;
    margin-bottom: 10px;
}

.api p {
    width: 600px;
}

.api button {
    height: 40px;
}

.all_cards {
    display: flex;
    flex-wrap: wrap;
}

.card-black,
.card-red {
    border: 1px solid #000;
    border-radius: 5%;
    font-size: 2em;
    height: 225px;
    line-height: 225px;
    margin: 0.3em;
    text-align: center;
    width: 150px;
}

.card-red {
    color: red;
}

.winner-message {
    margin-bottom: 15px;
    background-color: #8484ba;
    color: white;
    padding-left: 10px;
    padding-top: 20px;
    padding-bottom: 20px;
}

.game-buttons {
    display: flex;
    margin-top: 15px;
}

.game-buttons button, form {
    margin-right: 10px;
}

.doc-img {
    display: flex;
    justify-content: center;
    margin-bottom: 40px;
}

.doc-img img {
    max-width: 800px;
}

footer {
    background-color: rgb(132, 132, 186);
    min-height: 150px;
    padding: 40px;
    font-size: 20px;
    text-align: center;
    margin-top: 40px;
    color: white;
}

.all_books {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 20px;
}

.book {
    width: 25vw;
    border: solid rgb(132, 132, 186) 0.5px;
    margin-top: 20px;
    margin-right: 0.1rem;
    padding-top: 15px;
    padding-bottom: 15px;
}

.book img {
    width: 20vw;
    justify-self: center;
}

.book_img {
    display: grid;
}

.book_info_text {
    margin: 15px;
}

.book h3 {
    font-size: 1.3em;
    padding-bottom: initial;
}

.writer {
    font-size: 1em;
    font-style: italic;
    margin: initial;
}

.isbn {
    font-size: 0.8em;
    margin: initial;
}

.book_buttons {
    display: flex;
    justify-content: space-evenly;
    margin-top: 20px;
}

.book_info {
    display: flex;
    justify-content: center;
}

.book_info img {
    margin-right: 25px;
}

.book_info h2 {
    margin-top: 50px;
}

.new_book_form,
.update_book_form {
    margin-top: 20px;
}

.new_book_form input[type=text],
.update_book_form input[type=text] {
    width: 500px;
    height: 50px;
    padding-left: 10px;
    font-size: 1.2em;
    margin-top: 10px;
    margin-bottom: 25px;
}

.new_book_form label,
.update_book_form label {
    font-size: 1.2em;
    font-style: italic;
}

.center-form {
    display: grid;
    justify-content: center;
}

.analys ul {
    display: block;
    height: auto;
    list-style-type: disc;
    max-width: none;
    padding-bottom: 40px;
}

.analys-value {
    display: flex;
    justify-content: space-between;
    padding-bottom: 40px;
}

.analys-value p {
    margin: initial;
}

.analys li {
    font-size: 0.8em;
    margin-bottom: 10px;
}

.analys-scores {
    margin-top: 10px;
}

.number-list {
    padding-left: 40px;
    margin-bottom: 40px;
}

.number-list li {
    font-size: initial;
    margin-bottom: 0;
    margin-top: 10px;
}

.img-scrutinizer {
    max-width: 70vw;
}

.img-metrics {
    max-width: 80vw;
}