{% extends "base.html.twig" %}

{% block title %}Card{% endblock %}

{% block body %}
    <h1>Spel: 21</h1>
    <div class="game-buttons">
        <button><a href="{{ path('card_game') }}">Starta spel</a></button>
        <button><a href="{{ path('game_doc') }}">Dokumentation</a></button>
    </div>
    <p>Det har blivit dags att spela. Spelets går ut på att med två eller flera kort försöka uppnå det sammanlagda värdet 21, eller komma så nära som möjligt utan att överskrida 21. Ess är värt 1.
    Du får dra ett kort i taget och väljer själv om du vill dra ett till eller om du vill låsa din hand. Du spelar mot banken som vinner om du får över 21 eller om bankens hand är värd mer än din.</p>
    <div class="game-text">
        <h3>Regler</h3>
        En spelrunda kan se ut så här när en spelare spelar mot banken:<br>
        Spelplanen visas och du har fått ditt första kort.<br>
        Du måste nu dra ett andra kort för att då din hand måste bestå av minst två kort för att kunna låsas.
        Du kommer nu se din hands totala värde och kan välja om du vill dra ett kort till eller om du vill stanna.<br>
        Om du får över 21 vinner banken automatiskt.<br>
        När du väljer att stanna/låsa din hand så är det bankens tur.<br>
        Banken kan inte se din hand.<br>
        Banken plockar kort tills den stannar eller har över 21.<br>
        Banken vinner vid lika eller om banken har mer än du.<br>
        Du vinner om banken får över 21.<br>
        Därefter kan du välja att påbörja en ny omgång.</p>
    </div>
{% endblock %}