{% extends "base.html.twig" %}

{% block title %}Report{% endblock %}

{% block body %}
    <h1>Redovisning</h1>
    <p class="author">Skriven 2023-04-05 av Julia Nilsson</p>
    <div class="kmom-links">
        <a href="#kmom01">KMOM01</a>
        <a href="#kmom02">KMOM02</a>
        <a href="#kmom03">KMOM03</a>
        <a href="#kmom04">KMOM04</a>
        <a href="#kmom05">KMOM05</a>
        <a href="#kmom06">KMOM06</a>
    </div>
    <a id="kmom01"></a>
    <h3>Kmom01</h3>
    <p>Mina förkunskaper inom objektorientering kommer egentligen endast från kursen objektorienterad python, som jag läste nu i början av året. 
    Så det är inga överdrivna förkunskaper jag kommer med men jag tror ändå att det kommer att lösa sig ganska bra med tiden.<br><br>
    Grunderna inom objektorienterad PHP är väll egentligen att man jobbar med objekt och klasser. Ett objekt skapar man med hjälp av en klass, klassen blir som 
    en mall för objektet som kallas en instans av klassen. Ett objekt består av såkallade medlemsvariabler och av metoder. Det är i medlemsvariablerna som objektets status lagras, 
    alltså ett värde. För att kunna jobba med objektet på olika sätt använder man sig av dess metoder. Dessa representerar de saker som ett objekt kan användas till, 
    alltså de ett objekt kan göra.<br><br>
    Jag uppfattar kodbasen och dess struktur hyfsat enkel och lättnavigerad. Sen kan det alltid känns lite överväldigande att ha så många filer i ett projekt, men det tror jag att jag kommer 
    vänja mig vid ganska snabbt. Behöver mest bli bekväm med att hitta i de olika mapparna och navigera till olika ställen.<br><br>
    Jag tyckte att det var lite extra intressant att läsa om olika typer av utveckling och testning, som exempelvis vad skillnaden på test driven och beteende driven utveckling är och på vilket sätt man 
    bör testa dessa olika typer av utveckling. Så testning i allmänhet ser jag fram emot att lära mig mera om då jag anser att de är en process som till stor del påverkar kvaliten på ens kod.<br><br>
    För detta kmom är min TIL hur man sätter upp ett prjekt med hjälp av symfony. Det tog några försök för mig för att få allting på plats men nu känner jag att jag har hyfsat bra koll på grunderna och 
    de olika komponenterna i kodbasen.</p>
    <br>
    <a id="kmom02"></a>
    <h3>Kmom02</h3>
    <p></p>
    <br>
    <a id="kmom03"></a>
    <h3>Kmom03</h3>
    <p></p>
    <br>
    <a id="kmom04"></a>
    <h3>Kmom04</h3>
    <p></p>
    <br>
    <a id="kmom05"></a>
    <h3>Kmom05</h3>
    <p></p>
    <br>
    <a id="kmom06"></a>
    <h3>Kmom06</h3>
    <p></p>
{% endblock %}